@import '@fontsource/fira-mono';

@font-face {
	font-family: 'Nunito';
	font-style: normal;
	src: local('Nunito'), url($lib/fonts/NunitoSans-Light.ttf) format('truetype');
}

@font-face {
	font-family: 'Nunito';
	font-style: italic;
	src: local('Nunito'), url($lib/fonts/NunitoSans-LightItalic.ttf) format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-weight: 300;
	font-style: normal;
	src: local('Raleway'), url($lib/fonts/Raleway-Light.ttf) format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-weight: 300;
	font-style: italic;
	src: local('Raleway'), url($lib/fonts/Raleway-LightItalic.ttf) format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-weight: 600;
	font-style: normal;
	src: local('Raleway'), url($lib/fonts/Raleway-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-weight: 600;
	font-style: italic;
	src: local('Raleway'), url($lib/fonts/Raleway-BoldItalic.ttf) format('truetype');
}


:root {
	/* base extends */
	--page-width: 1280px;
	--page-padding: 40px;
	--menu-height: 80px;
	/* fonts */
	--running-font: 'Nunito', sans-serif;
	--running-font-weight: 400;
	--heading-font: 'Raleway', sans-serif;
	--heading-font-weight: 600;
	--heading-font-light-weight: 300;
	/* colors */
	--primary: #be1622;
	--error: #b35600;
	--grey: #5f5f63;
	/* --mid-grey: #606060; */
	--dark-grey: #1A181B;
	/* --red: #af0000; */
	/* --green: #30a050; */
	/* --light-green: #5edb5e; */
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}

html {
	height: 100%;
	font-size: 17px;
	overflow-y: scroll;
}

body {
	height: 100%;
	font-size: 90%;
	font-family: var(--running-font);
	font-weight: var(--running-font-weight);
	line-height: 1.7;
	/* background-color: var(--uni-blue); */
}

::selection {
	background: var(--primary);
	color: #fff;
}

@media only screen and (min-width: 375px) {
	body {
		font-size: 95%;
	}
}

@media only screen and (min-width: 425px) {
	body {
		font-size: 100%;
	}
}


h1 {
	font-size: 0.7em;
	font-family: var(--heading-font);
	font-weight: var(--heading-font-weight);
	line-height: 1.4;
	text-transform: uppercase;
}

h2 {
	font-size: 2.5em;
	font-family: var(--heading-font);
	font-weight: var(--heading-font-light-weight);
	line-height: 1.2;
}

h3 {
	font-size: 1.2em;
	font-family: var(--heading-font);
	font-weight: var(--heading-font-light-weight);
	line-height: 1.5;
}

p {
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: justify;
	text-justify: inter-word;
}

input {
	border: 1px solid var(--dark-grey);
	background-color: rgba(0, 0, 0, 0);
	padding: 0.2em;
	font-size: 0.9em;
}

input:focus {
	outline: none;
	border: 1px solid var(--primary);
	background-color: rgba(0, 0, 0, 0);
	padding: 0.2em;
}

div.container {
	width: 100%;
	max-width: var(--page-width);
	padding: 0 15px;
	margin: 0 auto;
}

@media only screen and (min-width: 425px) {
	div.container {
		padding: 0 var(--page-padding);
	}
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
